$color-primary-light: hsl(31, 77%, 52%);
$color-primary-dark: hsl(184, 100%, 22%);
$color-primary-darker: hsl(179, 100%, 13%);

$color-para: hsla(0, 0%, 100%, 0.75);
$color-bgheadbtn: hsl(0, 0%, 95%);

$fs-body: 0.9375rem; // 15px

$ff-body: "lexend deca";
$ff-heading: "big shoulders display";

$fw-body: 400;
$fw-heading: 700;
